.admin{
    width: calc(100% - 296px);
    margin-left: auto;
}
.admin-header{
    padding: 32px;
}
.admin-table{
    padding: 16px 32px;
}
.page-item{
   width: 32px;
}
.modal-content{
    padding: 16px;
}